

    <div class="container">


    	<div class="row">

    		<!-- Left Buffer -->
    		<div class="span2">
    			<!--Blank buffer-->
    		</div>

    		<div class="span8">
    			<div class="balist">
    				<form class="form-inline" action="/lists/new" method="post">
    				<input type="text" name="NewListTitle" class="NewListTitle" placeholder="Enter List Name" id="newListTitle" required />
    				<p />
					<input type="text" name="newLeftHand" class="NewSubList" id="newLeftHand" placeholder="Enter Lefthand List Name" />
					<input type="text" name="newRightHand" class="NewSubList" id="newRightHand" placeholder="Enter Righthand List Name" />
					<p />
					<input type="submit" value="Create List">
					</form>
    			</div> <!--closes balist div-->
    		</div>
    		<div class="span2">

    		</div>
    	</div>